.home-hero
	h1 Welcome to Il Mio Cellar
		h3
			| Buongiorno
		br
		div(style='opacity: .9;')
			a.btn.btn-large(href='/wines')
				img.pull-left(src='img/wine.png', style='margin: center center')
				| Start Browsing
				br
				| Il Mio Cellar
